h1{

  font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 81px;
display: flex;
align-items: center;
/* Basicos/BlancoN */

color: #F8F8F8;

}
p{

  font-family: 'PT Sans';
font-style: normal;
font-weight:lighter;
font-size: 100%;
line-height: 100%;
display: flex;
align-items: center;

/* Basicos/BlancoN */

color: #F8F8F8;}

