h1{

    /* position: absolute; */
    /* width: 628px;
    /* height: 116px; */
    left:18,5em; 
    top: 52em;
    margin-left: 5%;
    font-family: 'Outfit'; 
    font-style: normal;
    font-weight:500;
   
    line-height: 81px;
    display: flex; 
    align-items: center;
    
    /* Basicos/BlancoN */

    color: #F8F8F8;
    
}

p{
    /* position: absolute;
    width: 832px;
    height: 116px;
    left: 116px;
    top: 103px; */

    font-family: 'PT Sans';
    font-size: 100%;
    margin-left: 5%;
  
    
    
    /* Basicos/BlancoN */
    
    color: #F8F8F8;
}
a.n {
    margin: 0px;
}
html {
    min-height: 100%;
    position: relative;
  }
